body,html{
	margin:0;
	padding:0;

}

.main-title{
	background-color: rgb(89,93,157);
	color:white;
	padding-top: 25px;
	width: 100%;
	height: 165px; 
	margin-top: 0px;
	overflow:hidden;
	position: relative;
}

.main-title img{
	float:left;
	height:200px;
    margin-top: -30px;
    position: absolute;
   }
.main-title-word{
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	text-align: center;

}
.small-title{
	text-align: center;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
	padding-left: 500px;

}



.nav-bar{
	background-color: rgb(140,193,233);
	height: 50px;
	margin: -20px;
	width: 100%;
	z-index: 2;

}

.nav{
	float:right;
	display: block;
	margin-left: 3px;
	height: 50px;
	text-decoration:none;
	color:black;
	font-family: 'Quicksand', sans-serif;
 	font-size: 23px;
	background-color: rgb(255,251,177);
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}



.active .nav{
	background-color: rgb(82,83,77) !important;
	color:white !important;
}

.nav:hover{
	background-color: #666666 !important;
	color:white !important;
	text-decoration:none !important;

}



.select-place{
	position:relative;
}

.drop-down-content{
	top:50px;
	right:0px;
	display:none;
	position:absolute;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    z-index: 10;
}

.select-place:hover .drop-down-content {
	display:block;
}

.city{
	background-color: rgb(89,93,157);
	width:150px;
	margin: 0px;
	padding: 10px;
	padding-bottom: 10px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 200;
	display: block;
	color:white;
}

.city:hover{
	text-decoration: none;
	color: white;
	background-color: black;

}